:root {
    --dark-color: #2b2d42;
    --light-color: #edf2f4;
    --red-color: #ef233c;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--light-color);
}
a {
    text-decoration: none;
    color: var(--light-color);
}
i {
    cursor: pointer;
}
footer {
    background-color: #4a4e69;
}

.navbar {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 25px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items:center;
}
.cart {
    background-color: var(--light-color);
    color: var(--dark-color);
    padding: 5px;
    font-size: 30px;
    border-radius: 4px;
    position: relative;
}
.cartAmount {
    font-size: 16px;
    background-color: var(--red-color);
    color: var(--light-color);
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 8px;
    border-radius: 4px;
    font-size: 16px;
}
.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
}
.item {
    border: 1px solid var(--dark-color);
    border-radius: 4px;
}
.item img {
    width: 100%;
    border-radius: 2px 2px 0 0;
}
.details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 20px;
}
.bi-dash-lg {
    color: var(--red-color);
}
.bi-plus-lg {
    color: #2d6a4f;
}

/* CART */

.text-center {
    margin-top: 70px;
    margin-bottom: 20px;
    color: var(--dark-color);
}
.homeBtn, .remove-button, .checkout-button {
    background-color: var(--dark-color);
    color: var(--light-color);
    border: none;
    padding: 6px 18px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 7px;
}
.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 340px);
    justify-content: center;
    gap: 15px;
}
.cart-item {
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    display: flex;
}
.title-price-x {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.title-price {
    margin: 0;
    height: 70px;
}
.price {
    background-color: var(--dark-color);
    color: var(--light-color);
    border-radius: 3px;
    padding: 2px;
    font-size: 15px;
    width: 50px;
    text-align: center;
}
.bi-x-lg {
    color: var(--red-color);
    font-weight: bold;
}
.total {
    font-size:20px;
    color: var(--dark-color);
    margin-top: 10px;
}
.checkout-button {
    background-color: green;
}
.remove-button {
    background-color: var(--red-color);
}




@media (max-width: 1000px) {
    .shop {
    grid-template-columns: repeat(2, 223px);
    }
}
@media (max-width: 500px) {
    .shop {
    grid-template-columns: repeat(1, 223px);
    }
} 